{{ extends "layout/default" }}

{{ block "title"}}
    管理员登录
{{ /block }}

{{ block "main" }}

<div id="loginPanel">
    <div class="panel panel-default panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> 管理员登录</h3>
        </div>
        <div class="panel-body">
            <form class="form" id="loginForm" autocomplete="off">
                <div class="form-group">
                    <label for="username">用户名：</label>
                    <input type="text" class="form-control" id="username" name="username" maxlength="12" autofocus placeholder="请输入登录用户名" />
                </div>

                <div class="form-group">
                    <label for="password">密码：</label>
                    <input type="password" class="form-control" id="password" name="password" maxlength="20" placeholder="请输入登录密码" />
                </div>

                <div class="form-group">
                    <label for="code">验证码：</label>
                    <div>
                        <input type="text" class="form-control" id="code" name="code" maxlength="6" placeholder="请输入验证码" />
                        <img id="captcha" src="{{ echo gentwolf\Gentwolf::url('captcha') }}" alt="right" />
                    </div>
                </div>

                <input type="button" role="button" id="btnLogin" class="btn btn-primary btn-block btn-lg" value="登录" />
            </form>
        </div>
    </div>
</div>

{{ /block }}

{{ block "script" }}
    Manage.backgroundColor('f5');
    Manage.login();
{{ /block }}