<div class="panel-heading">
    <div class="row">
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="strong">
                    <?php if (isset($this->action['titleHref'])) { ?>
                        <a href="<?php echo gentwolf\Gentwolf::url($this->action['titleHref']); ?>"><<?php echo $this->action['title']; ?></a>
                    <?php } else { ?>
                        <?php echo $this->action['title']; ?>
                    <?php } ?>
                </li>
                <li><?php echo $this->action['subTitle']; ?></li>
            </ol>
        </div>
        <div class="col-sm-2 text-right">
            {{ if (isset($this->action['eventName'])) { }}
                {{ if ($this->action['eventHref'] == 'BACK') { }}
                    <a role="button" type="button" class="btn btn-primary text-right btnBack">
                        {{ echo $this->action['eventName']; }}
                    </a>
                {{ } else { }}
                    <a href="{{ echo gentwolf\Gentwolf::url($this->action['eventHref']); }}" role="button" type="button" class="btn btn-primary text-right">
                        {{ echo $this->action['eventName']; }}
                    </a>
                {{ } }}
            {{ } }}
        </div>
    </div>
</div>